.ekart--product--container {
  margin: 20px auto;
  padding: 0px 17vh;
}

.ekart-featured-products {
  background-color: #28282b;
  padding: 20px 10px;
  display: flex;
}

.ekart-featured-product-heading {
  width: 400px;
  margin: 10px 10px;
  padding: 20px 30px;
  color: #fff;
}

.title,
.call-to-action {
  margin: 10px 0px;
}

.call-to-action {
  background-color: #28282b;
  padding: 10px 0px;
  color: #fff;
  width: 100%;
}
