<div>
  <app-child>
    <h3>Some Heading</h3>
    <p #para>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud
    </p>
    <p #para>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi ab
      esse molestiae dolorum impedit amet consequatur excepturi debitis at? Quod
      culpa, porro quis dolor possimus neque unde ut ipsam.
    </p>
    <p #para>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, soluta
      quibusdam maiores dolor quis odit delectus animi asperiores reiciendis
      harum nobis impedit illum in pariatur laboriosam praesentium corrupti
      tempora voluptates.
    </p>

    <app-test [name]="'JayT'"></app-test>
    <app-test [name]="'Marry'"></app-test>
    <app-test [name]="'Max'"></app-test>
  </app-child>
  <!-- <button (click)="showParaValue()">Show Value</button> -->
</div>
