<table>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Membership</th>
    <th>Price</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let user of users">
    <td>{{ user.name }}</td>
    <td>{{ user.gender }}</td>
    <td>{{ user.membership }}</td>
    <td>{{ user.price }}</td>
    <td>{{ user.isActive ? "Active" : "Inactive" }}</td>
    <td>
      <button class="delete-button" (click)="onDeleteClicked(user)">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </td>
  </tr>
</table>

<div viewContainer></div>

<!-- <app-confirm-delete
  *ngIf="showConfirmDeleteComponent"
  [userToDelete]="userToDelete"
  (confirmDelete)="onConfirmDelete($event)"
></app-confirm-delete> -->
