.ekart--search--product {
  margin: 20px auto;
  text-align: center;
}
.ekart-search-product-input {
  width: 40%;
  height: 5.5vh;
  padding: 1px 10px;
  outline: none;
  border-radius: 8px;
  background-color: #efefef;
  border: #28282b 1px solid;
}

.btn {
  padding: 5px 10px;
  height: 5.5vh;
  border: none;
}

.btn-search {
  padding: 10px 30px;
  background-color: #28282b;
  margin-left: -5px;
  color: #fff;
}

.btn-search-disabled {
  padding: 12px 30px;
  background-color: #aaa;
  margin-left: -1px;
  color: #999;
  border: #aaa 1px solid;
  cursor: not-allowed;
}

.ekart-search-result-for {
  margin: 20px auto;
  padding: 10px 140px;
}
