h2 {
  margin: 20px 30px;
  font-family: "Lucida Sans";
  color: #28282b;
}

.app-container {
  margin: 20px 50px;
  padding: 10px 20px;
}

.appHighlight {
  border: #28282b 3px solid;
  background-color: gold;
}

.appFont {
  font-family: "Lucida Sans";
  font-size: 18px;
}
